.contact {
  padding: 6rem 0;
  background: linear-gradient(180deg, $color-background-tertiary 0%, $color-background-final 100%);

  @include centerLayout;

  &__form {
    margin: 5rem auto;

    form {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 2.5rem;
      grid-column-gap: 2.5rem;
    }

    &--label {
      position: absolute;
      left: 0;
      font-size: $s-size;
      margin-left: 1rem;
      transition: all .3s ease-out;
      z-index: 1;
    }

    &--details {
      grid-column-end: span 2;
      position: relative;

      @media only screen and (max-width: $m-phone-bkp) {
        grid-column-end: span 4;
      }

      input {
        height: 4rem;
        padding: 0 1rem;

        @include inputConfigs;

        &::placeholder {
          font-family: 'M PLUS Rounded 1c', sans-serif;
        }
      }
    }

    &--message {
      grid-column-end: span 4;
      position: relative;

      textarea {
        min-height: 4rem;
        padding: 1rem;

        @include inputConfigs;
      }
    }

    &--submit {
      grid-column-start: 4;
      height: 4rem;
      border: none;
      background-color: $color-secondary;
      color: $color-primary-light;
      cursor: pointer;

      &:hover {
        background-color: lighten($color-secondary, 5%);
      }

      @media only screen and (max-width: $m-phone-bkp) {
        grid-column-start: 3;
        grid-column-end: span 2;
      }

      @media only screen and (max-width: $sm-phone-bkp) {
        grid-column-start: 1;
        grid-column-end: span 4;
      }
    }
  }

  &__icons {
    svg {
      margin: 0 3rem;

      &:hover {
        color: lighten($color-primary-dark, 10%);
        cursor: pointer;
      }
    }

    a {
      // Make the link cover up the entire svg
      // Not sure if using rems work here, look into it later
      display: inline-block;
      height: 48px;
      width: 48px;
      vertical-align: middle;
      margin: 0 1.5rem;
    }
  }
}