.header {
  position: fixed;
  width: 100%;
  background-color: $color-primary-dark;
  color: $color-primary;
  z-index: 1000;

  a {
    color: $color-primary;

    &:hover,
    &:active {
      color: lighten($color-primary, 25%);
    }
  }

  &__container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    margin: auto;

    @media only screen and (max-width: $sm-phone-bkp) {
      justify-content: flex-end;
    }
  }

  &__title {
    @media only screen and (max-width: $sm-phone-bkp) {
      display: none;
    }
  }

  &__nav {
    a {
      margin-left: 2rem;
    }
  }
}
