.intro {
  background-color: $color-background-primary;

  @supports (background-blend-mode: difference) {
    background: url('../images/hero.jpg') no-repeat center center;
    background-size: cover;
    background-blend-mode: difference;
    background-color: $color-primary-light;
  }

  width: 100vw;
  height: 100vh;

  &__arrow {
    &:hover {
      color: $color-primary-dark;
    }

    svg {
      height: 5rem;
      width: 5rem;
      position: absolute;
      bottom: 12%;
      left: 50%;
      cursor: pointer;
      transform: translateX(-50%);
      transition: transform 0.2s ease;
  
      &:hover {
        transform: translate(-50%, -1rem);
      }
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
      cursor: default;
      letter-spacing: 2rem;

      @media only screen and (max-width: $m-phone-bkp) {
        letter-spacing: 1rem;
      }

      span {
        &:hover {
          color: lighten($color-primary-dark, 10%);
        }
      }
    }

    h2 {
      letter-spacing: 1rem;
    }
  }
}