.timeline {
  height: 1000px;
  background: linear-gradient(180deg, $color-background-secondary 0%, #c8b461 100%);
  text-align: center;

  > * {
    margin: auto;
    width: 80%;
  }

  &__title {
    padding: 10rem 0 3rem 0;
  }
}