// Colours
$color-primary: #b0a565;
$color-primary-light: #ede68a;
$color-primary-dark: #2f3032;
$color-secondary: #383a56;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Breakpoints
$desktop-breakpoint: 45rem;
$sm-phone-bkp: 22.19em;  // 355px
$m-phone-bkp: 36.87em; // 590px

// Used in height media query
$landscape-bkp: 34.38em;  // 550px
