// Colours
$color-primary: #b0a565;
$color-primary-light: #ede68a;
$color-primary-dark: #2A2400;
$color-secondary: #4C5100;

$color-background-primary: #c8c561;
$color-background-secondary: #E7F5C1;

$color-background-tooltip: #baa5c1;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Breakpoints
$desktop-breakpoint: 45rem;
$sm-phone-bkp: 22.19em;  // 355px
$m-phone-bkp: 36.87em; // 590px

// Used in height media query
$landscape-bkp: 34.38em;  // 550px
